@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

* {
    box-sizing: border-box;
}

.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
}

.p2 {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.p1 {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size:5vh;
}

.h {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size:8dvh;
}

#main {
    display:grid;
    background-color: #ce98ff;
    margin:0;
}

#topHeader {
    position:fixed;
    height:9vh;
    width:100vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #fff6f6;
    color: #4f009f;
    margin:0;
}

#mBody {
    margin-top:12dvh;
    padding-left:1dvw;
    display:flex;
    align-items: center;
}

#mheadImg {
    width:90vw;

}