@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

* {
    box-sizing: border-box;
    border-radius:20px;
}

.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
}

.p3 {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size:2.5vh;
}

.p2 {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size:3vh;
}

.p1 {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size:5vh;
}

.h {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size:10dvh;
}

.h2 {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size:7.5dvh;
}

#main {
    display:grid;
    background-color: #ce98ff;
}

#topHeader {
    position:fixed;
    height:9vh;
    width:96vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #fff6f6;
    color: #4f009f;
    margin:0;
    display:grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: 1;
    gap:1vw;
}

#mBody {
    margin-top:9vh;
    display:grid;
    align-items: center;
    margin-left:0;
    gap: 1vh;
    grid-template-rows: repeat(7,1fr);
    /* grid-auto-rows: minmax(1vh, 50vh) */
}

#mheadImg {
    width:96vw;
    object-fit: cover;
    height:30vh;
    margin:0;
    background-image: url('../res/img/marston.jpeg');
    background-size:cover;
    background-position: center;
    text-align: center;
    color:#fff6f6;
    display:flex; 
    place-items: center;
    grid-row:1;
}

.social {
    width:6vh;
}

#big{
    background-color: #fff6f6;
    padding-left:1vw;
    padding-right:1vw;
    padding-bottom:1vw;
    margin-bottom:10vh;
}

#topHeader > a{
    color: inherit; /* Inherits the color of the parent element */
    text-decoration: none; /* Removes the underline */
}

.textBlock {
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 1vw;
    margin-left: 1vw; 
}

#pluh {
    display:grid;
    grid-row:2/8;
    grid-auto-rows: min-content;
    gap:5vh;
    
}